*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
figure{
    border: 4px dotted rgb(196, 196, 230);
    float: left;
    display: inline-block;
    position: relative;
    left: 80px;
    bottom: 30px;
  }
header{
font-family: 'Times New Roman', Times, serif;
font-size: 50px;
width: 100%;
text-align: center;
line-height: 3em;
background-color: darkblue;
color: yellow;
border: 3px solid lightyellow;
}
nav{
  background-color: rgb(242, 171, 84);
   display: inline-block;
    justify-content: flex-end;
  flex-direction: column;
  float:right ;
  overflow:hidden;
 
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
ul{
text-align: center;
}
li{
  line-height: 4em;
  width: 100%;
  float: right;
   display: inline-block;
   font-size: 64px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
article{
  font-size: 30px;
  position: relative;
  left: 750px;
  width: 30%;
  height: 500px;
}
footer{

  font-size: 25px; 
  display: inline-block;
  text-align: center;
  border: 5px solid black;
  background-color: aliceblue;
  line-height: 75px;
}
